<h1>RPS Ruby on Rails</h1>

The result of your throw is: </br >
<p><%=@status %></p>
<h2>Play again? click below</h2>
	<a href="/throw/paper" >Paper</a></br>
	<a href="/throw/scissors" >Scissors</a></br>
		<a href="/throw/rock" >Rock</a></br></br>
		<a href="/stats/find" >Click for Stats</a></br>